<form [formGroup]="postForm" (ngSubmit)="onFormSubmit()">
  <p>Creating a new post</p>
  <label for="header">Header</label>
  <input id="header" type="text" formControlName="header"><br>

  <label for="content">Content</label>
  <input id="content" type="text" formControlName="content"><br>

  <label for="author">Author</label>
  <input id="author" type="text" formControlName="author"><br>

  <button [disabled]="!postForm.valid" type="submit" mat-raised-button color="primary">Create Post</button>
</form>
